body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}

.header-upper,
.header-lower {
  display: flex;
}

.content {
  flex: 1;
}
